<div class="bg-[#36404a] flex flex-col w-full items-center justify-between">
    <div class="flex basis-1/5">
        <mat-icon class="ab">chat</mat-icon>
    </div>
    <div class="flex basis-3/5 ">
        <div class="flex flex-col items-center gap-[5vh] justify-center">
            <mat-icon>account_circle</mat-icon>
            <mat-icon>chat_bubble</mat-icon>
            <mat-icon>groups</mat-icon>
            <mat-icon>manage_accounts</mat-icon>
        </div>

    </div>
    <div class="'flex basis-1/5 h-full w-full">
        <div class="mt-[6vh] flex flex-row justify-center">
            <mat-icon class="cursor-grab" (click)="emitEvent()">logout</mat-icon>
        </div>
    </div>
</div>