<app-nav-bar (logoutEvent)="logout()"></app-nav-bar>
<div class="mt-[50px] bg-blue-100 flex flex-col items-center pt-12 gap-9 p-7 min-h-screen">
    <p class="text-3xl text-gray-600 font-semibold">Select Your Screening Tool</p>
<div class="flex flex-row items-start justify-around gap-12 p-7">
    <button (click)="adhdScreening()" class="inline-flex items-center justify-center whitespace-nowrap font-medium ring-offset-background
    focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 
    disabled:pointer-events-none disabled:opacity-50 bg-primary hover:bg-primary/90 h-11 bg-gradient-to-r
     from-purple-600 to-blue-600 hover:from-purple-700 hover:to-blue-700 text-white text-lg px-8 py-6 rounded-full 
     shadow-lg hover:shadow-xl transition-all duration-300">ADHD Screening<svg xmlns="http://www.w3.org/2000/svg" width="24" 
     height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" 
     stroke-linejoin="round" class="lucide lucide-volume2 w-6 h-6 ml-2">
     <path d="M11 4.702a.705.705 0 0 0-1.203-.498L6.413 7.587A1.4 1.4 0 0 1 5.416 8H3a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h2.416a1.4 1.4 0 0 1 .997.413l3.383 3.384A.705.705 0 0 0 11 19.298z"></path>
     <path d="M16 9a5 5 0 0 1 0 6"></path>
     <path d="M19.364 18.364a9 9 0 0 0 0-12.728"></path></svg></button>
     <button (click)="asdScreening()" class="inline-flex items-center justify-center whitespace-nowrap font-medium ring-offset-background
     focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 
     disabled:pointer-events-none disabled:opacity-50 bg-primary hover:bg-primary/90 h-11 bg-gradient-to-r
      from-purple-600 to-blue-600 hover:from-purple-700 hover:to-blue-700 text-white text-lg px-8 py-6 rounded-full 
      shadow-lg hover:shadow-xl transition-all duration-300">ASD Screening<svg xmlns="http://www.w3.org/2000/svg" width="24" 
      height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" 
      stroke-linejoin="round" class="lucide lucide-volume2 w-6 h-6 ml-2">
      <path d="M11 4.702a.705.705 0 0 0-1.203-.498L6.413 7.587A1.4 1.4 0 0 1 5.416 8H3a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h2.416a1.4 1.4 0 0 1 .997.413l3.383 3.384A.705.705 0 0 0 11 19.298z"></path>
      <path d="M16 9a5 5 0 0 1 0 6"></path>
      <path d="M19.364 18.364a9 9 0 0 0 0-12.728"></path></svg></button>
      <button (click)="dyslexiaScreening()" class="inline-flex items-center justify-center whitespace-nowrap font-medium ring-offset-background
      focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 
      disabled:pointer-events-none disabled:opacity-50 bg-primary hover:bg-primary/90 h-11 bg-gradient-to-r
       from-purple-600 to-blue-600 hover:from-purple-700 hover:to-blue-700 text-white text-lg px-8 py-6 rounded-full 
       shadow-lg hover:shadow-xl transition-all duration-300">Dyslexia Screening<svg xmlns="http://www.w3.org/2000/svg" width="24" 
       height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" 
       stroke-linejoin="round" class="lucide lucide-volume2 w-6 h-6 ml-2">
       <path d="M11 4.702a.705.705 0 0 0-1.203-.498L6.413 7.587A1.4 1.4 0 0 1 5.416 8H3a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h2.416a1.4 1.4 0 0 1 .997.413l3.383 3.384A.705.705 0 0 0 11 19.298z"></path>
       <path d="M16 9a5 5 0 0 1 0 6"></path>
       <path d="M19.364 18.364a9 9 0 0 0 0-12.728"></path></svg></button>
</div>
</div>